@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply bg-gray-200 px-4 h-12
  }
  .name-letter{
    @apply hover:text-mainBlue inline-block  transition-all cursor-pointer
  }
}
@layer base{
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background: #000A1F;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .delay300{
    animation-delay: 300ms !important;
  }
  .delay500{
    animation-delay: 500ms !important; 
  }
  .delay600{
    animation-delay: 500ms !important; 
  }
  .delay700{
    animation-delay: 700ms !important;
  }
}
