@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply text-white border-2 rounded-full hover:bg-mainBlue transition-all hover:border-mainBlue cursor-pointer
  }
  .name-letter{
    @apply hover:text-mainBlue inline-block transition-all cursor-pointer text-lg sm:text-xl
  }
  .active{
    @apply text-white
  }
  .mobile-navbar {
    @apply translate-x-[-100%] transition-transform duration-[0.3s] ease-in-out fixed z-[999] w-full h-full bottom-0 mt-[80px] bg-[#000A1F] left-0 top-0;
  }
  .mobile-navbar.active-menu {
    @apply translate-x-0;
  }
}
@layer base{
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body{
    background: #000A1F;
    font-family: 'Noto Sans JP', sans-serif;
  }
  .delay300{
    animation-delay: 300ms !important;
  }
  .delay500{
    animation-delay: 500ms !important; 
  }
  .delay600{
    animation-delay: 500ms !important; 
  }
  .delay700{
    animation-delay: 700ms !important;
  }
  body::-webkit-scrollbar {
    width: 8px;
    background: transparent;  
  }

  body::-webkit-scrollbar-track {
    background: blue;
    display: none;
  }

  body::-webkit-scrollbar-thumb {
    background-color: #fff2;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 10px;
  }
  .width-calc{
    width: calc(100%-50px) !important;
  }
}
